    <div class="container" style="padding:20px">
     <div class="card card-body bg-light">
     <h1>{{foo}}</h1>
     {{> test-partial-1}}
    </div>
  </div>
  {{>external/namespace/external-partial}}
  {{#str}}asd{{/str}}
  {{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}} 
 </body>
</html>